@model Frontend.Models.Locacao

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Locação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataColeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataColeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotalLocacao)
        </dt>
        <dd class="col-sm-10">
            @Model.ValorTotalLocacao.ToString("N2")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVeiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVeiculo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">voltar</a>
</div>
